
<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wc.cmp.dao.IUserDao">
    <resultMap type="User" id="userMap">
        <id column="userId" property="userId"></id>
        <result column="loginName" property="loginName"/>
        <result column="loginPwd" property="loginPwd"/>
        <result column="loginTime" property="loginTime"/>
        <collection property="e" ofType="Emp"
                    resultMap="com.oracle.cmp.dao.IEmpDao.empMap"></collection>
    </resultMap>
    <sql id="usersql">userid,loginname,loginpwd,logintime,eid</sql>
    <select id="selectById" parameterType="int" resultMap="userMap">
        select <include refid="usersql"/> from sys_user where userid=#{id}
    </select>
    <select id="select" parameterType="java.util.Map" resultMap="userMap">
        select <include refid="usersql"/>,e.name from sys_user u left outer join sys_emp e
        on u.eid = e.id
        <where>
            <if test="loginName!=null and loginName!=''">
                and loginName = #{loginName}
            </if>
            <if test="loginPwd!=null and loginPwd!=''">
                and loginPwd = #{loginPwd}
            </if>
            <if test="name!=null and name!=''">
                and e.name like concat("%",#{name},"%")
            </if>

        </where>
        <if test="index!=null">
            limit #{index},#{pageSize}
        </if>
    </select>
    <select id="count" parameterType="java.util.Map" resultType="int">
        select count(*) from sys_user u left outer join sys_emp e
        on u.eid = e.id
        <where>
            <if test="loginName!=null and loginName!=''">
                and loginName = #{loginName}
            </if>
            <if test="loginPwd!=null and loginPwd!=''">
                and loginPwd = #{loginPwd}
            </if>
            <if test="name!=null and name!=''">
                and e.name like concat("%",#{name},"%")
            </if>
        </where>
    </select>
    <insert id="insert" parameterType="User" >
        insert into sys_user (<include refid="usersql"/>)
        values (default,#{loginName},#{loginPwd},#{loginTime},#{e.id})
    </insert>
    <update id="update" parameterType="User" >
        update sys_user
        <set>
            <if test="loginName!=null">
                loginname = #{loginName},
            </if>
            <if test="loginPwd!=null">
                loginpwd = #{loginPwd},
            </if>
            <if test="loginTime!=null">
                logintime=#{loginTime},
            </if>
            <if test="e.id!=null">
                eid = #{e.id},
            </if>
        </set>
        where userid = #{userId}
    </update>
    <delete id="delete" parameterType="int" >
		delete from sys_user where userid = #{id}
	</delete>
    <delete id="deleteBatch" parameterType="int[]" >
        delete from sys_user where userid in
        <foreach collection="array" open="(" close=")" item="item" separator=",">
            #{item}
        </foreach>
    </delete>
</mapper>
